@property --stop {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
  }
  @property --stop2 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 20%;
  }
  #container, #glare {
    width: 70px;
    height: 70px;
  }
  #container {
    background: url("https://img.freepik.com/free-photo/computer-program-coding-screen_53876-138060.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1716076800&semt=ais_user");
    background-size: cover;
  }
#glare {
    transition: 
    --stop 2s linear, --stop2 2s linear
    , transform 2s linear;
    background: 
    linear-gradient(135deg,
    transparent var(--stop), white ,
    transparent var(--stop2));
    transform: translateX(-30%);
}