#star{
    margin-top: 70px;
    width: 0px;
    height: 0px;
    position: relative;
    border-bottom: 70px solid orange;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}
#star::before{
    content: "";
    width: 0px;
    height: 0px;
    right: -100px;
    position: absolute;
    border-bottom: 70px solid orange;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
}
#star::after{
    content: "";
    width: 0px;
    height: 0px;
    bottom: -20px;
    left: -60px;
    position: absolute;
    border-bottom: 70px solid orange;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    transform: rotate(-35deg);
}