#heading {
   background: url("https://img.freepik.com/free-photo/computer-program-coding-screen_53876-138060.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1716076800&semt=ais_user");
   color: transparent;
   background-clip: text;
   font-size: 200px;
   margin: 20px;
}           