
#Crown{
    height: 45px;
    width: 60px;
    background-color:  orange;
    clip-path: polygon(0% 100%,0% 0%,
    25% 30%,50% 0%,75% 30%,100% 0%,
    100% 100%);
    border-radius: 0% 0% 15% 15%;
    margin: auto;
    margin-top: 10%;
}