#verified {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    margin: 10%;
    position: relative;
}
#verified::before, #verified::after {
    position: absolute;
    content: "";
    background-color: white;
    width: 7px;
}
#verified::before {
    height: 15px;
    transform: rotate(-45deg);
    top: 25px;
    left: 14px;
}
#verified::after  {
    height: 30px;
    transform: rotate(45deg);
    top: 11px;
    left: 26px;
}