#progress{
    height: 20px;
    width: 250px;
    margin: 20%;
    border-radius: 10px;
    position: relative;
    border: 3px solid;
}
#progress::before {
    z-index: -1;
    position: absolute;
    content: "";
    height: 20px;
    width: 0px;
    background: linear-gradient(to right,rgb(250, 102, 102),rgb(255, 208, 0)
    , rgb(81, 255, 65));
    animation: progress 3s ease-in-out infinite;
}
@keyframes progress {
    to {width: 250px;};
}
   
